.container {
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
}

.section2 {
    color: white;
    background-color: #242424;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.container .grid_6 {
    width: 460px;
}

.container [class*="grid_"] {
    float: left;
    min-height: 1px;
}

.section2 dl {
    color: #fff;
    padding-top: 30px;
}

.section2 dt {
    font-size: 20px;
    line-height: 28px;
}

.section2 dd {
    font-weight: 300;
    font-family: "Roboto", sans-serif;
    font-size: 60px;
    line-height: 1.2;
}

.section2 a[href^="tel:"]:hover {
    color: #767676;
}

.section2 address {
    float: left;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 41px;
    font-size: 14px;
    line-height: 20px;
    width: 50%;
}

.section2 .btn2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn2 {
    display: inline-block;
    font-size: 20px;
    line-height: 24px;
    color: #242424;
    background-color: #fff;
    padding: 58px 0;
    text-transform: uppercase;
}

.btn2:hover {
    color: #fff;
    background: #c2c2c2;
}

/* Tablets */
@media (min-width: 768px) and (max-width: 979px) {
    .container .grid_6 {
        width: 364px;
    }

    .container, .container-fluid {
        width: 100vw;
    }

    h2,
    .section2 dd {
        font-size: 30px;
    }

    .container .row {
        margin-left: -20px;
        width: 100vw;
        display: flex;
        justify-content: space-around;
    }

    .container [class*="grid_"] {
        margin-left: 20px;
    }
}

/* Small devices */
@media (max-width: 979px) {
    .section2 address {
        padding-top: 15px;
    }

    .btn2 {
        padding: 38px 20px;
    }

    h2,
    .section2 dd {
        font-size: 30px;
    }
}

@media (max-width: 767px) {
    .section2 .row {
        width: 100vw;
        display: flex;
        flex-direction: row;
        padding: 0;
    }

    .container .row {
        margin-left: 0;
    }

    .section2 .container [class*="grid_"] {
        margin-left: 0;
        width: 50%;
        display: flex;
    }

    .section2 .btn2 {
        padding: 60px 10px;
        font-size: 18px;
        margin: 0;
        margin-top: 20px;
    }

    .section2 .grid_6:last-child {
        display: flex;
        flex-direction: row;
    }
}

/* Mobile */
@media (max-width: 620px) {
    .section2 {
        display: block;

    }
}

@media (max-width: 600px) {
    .section2 .row {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .section2 .container [class*="grid_"] {
        margin-left: 0;
        width: 80%;
        display: flex
;
    }

    .section2 .grid_6:last-child {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* width: 80%; */
        margin-top: 20px;
    }

    .section2 .btn2 {
        padding-top: 5px;
        padding-bottom: 10px;
        width: 100%;

    }

    .section2 dt {
        font-size: 18px;
    } 

        .section2 dl {
        width: 100%;
    } 

    .section2 dd {
        font-size: 36px;
        color: #767676;
        width: 100%;
    }

    .section2 address {
        font-size: 18px;
        width: 100%;
    }

}
