.footer {
    padding-top: 45px;
    padding-bottom: 80px;
    color: #424242;
    background: #242424;
    text-align: center;
}

.footer .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* -------------brand_block-------------- */

.brand_block {
    display: flex;
    align-items: center;
    color: white;
    overflow: hidden;
    font-family: "Changa One", sans-serif;
    justify-content: center;
    font-size: 20px;
}

/* -----------------contacts_block-------------- */

.contacts_block {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.footer-contacts {
    display: flex;
    flex-direction: column;
    align-items: end; 
    margin-bottom: 20px;
}

.footer-contacts a {
    color: white;
    font-family: sans-serif;
    justify-content: center;
    font-size: 20px;
    line-height: 32px;
    text-decoration: none;
    transition: all 0.3s ease; /* Добавлен transition */
}

.footer-contacts a:hover,
.footer-contacts a:focus {
    transform: scale(1.05); /* Улучшен масштаб */
    outline: none;
    color: #f0f0f0; /* Можно изменить оттенок цвета при фокусе/наведении */
}

.social_link {
    display: flex;
    justify-content: end;
    align-items: center;
}

.social_link a {
    margin-left: 15px;
}

.social_link img {
    transition: border 0.3s ease, border-radius 0.3s ease; /* Добавлен transition */
}

.social_link img:hover, .social_link img:focus {
    border: 1px solid rgba(175, 175, 175, 0.322);
    border-radius: 40px;
}

/* MOBILE ADAPTIVE */

@media (max-width: 900px) {
    .footer {
        padding-top: 40px;
        padding-bottom: 40px;
        width: 100vw;

    }
    .footer .container {
        width: 80vw;
        display: flex;

    }
}


@media (max-width: 580px) {
    .footer .container {
        width: 80vw;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;

    }

    .footer .brand_block {
        flex-direction: column;
        margin-bottom: 40px;
    }

    .footer .contacts_block {
        align-items: center;
    }

    .footer .social_link {
        align-items: center;
    }

    .footer .footer-contacts {
        align-items: center;
    }
}

@media (max-width: 430px) {
    .section3 {
        padding-top: 40px;
        padding-bottom: 40px;
        width: 100vw;
        margin: 0;

    }

    .section3 .container {
        width: 100%;
        margin: 0;
    }

    .section3, .grid_list {

        margin: 0;
    }

    .section3 .row {
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .section3 .grid_3 {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;   
        margin: 0;
        margin-bottom: 20px;

    }

    .section3 .grid_list_3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;   
        margin: 0;
        margin-bottom: 20px;
    }

    .section3 .mod1 {
        width: 100%;
    }

    .section3 .container .grid_list {
        width: 80vw;
        margin: 0;
    }
}


