header {
    color: #fff;
    text-align: center;
    padding: 59px 0 72px;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
              url(../../images/Header_dsk.jpg) 50% 50% no-repeat;
  background-size: cover;
    background-position: center;
    height: 110vh;
}

.container, .container-fluid {
    width: 940px;
}

header .stuck_container + .brand {
    margin-top: 50px;
}

.container, .container-fluid {
    margin-right: auto;
    margin-left: auto;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.stuck_container {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: top;
}

.sf-menu {
    display: inline-block;
}

.sf-menu > li + li {
    margin-left: 28px;
}

.sf-menu > li {
    position: relative;
    float: left;
}

.sf-menu > li > a {
    padding: 5px 45px;
    font-size: 20px;
    line-height: 31px;
    font-weight: 400;
    letter-spacing: -0.5px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    transition: 0.3s;
}

.sf-menu > li > a:hover, .sf-menu > li > a:focus {
    color: #3e3e3e;
    background: #fff;
}

.sf-menu > li.active > a {
    color: #3e3e3e;
    background: #fff;
}


.sf-menu a {
    display: block;
}
a {
    font: inherit;
    color: inherit;
    text-decoration: none;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

/* Name */

.brand_slogan {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 10px;
    font-family: 'Glyphicons Halflings', Courier, monospace;
}

.brand {
    display: inline-block;
}

.brand_name {
    overflow: hidden;
    font-family: "Changa One", sans-serif;
    font-size: 198px;
    line-height: 198px;
    margin-top: 40px;
    margin-bottom: 100px;
    letter-spacing: 3px;
    /* padding-bottom: 10px; */
    color: var(--text-color-light);
}

.brand_name  p {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 10px;
    line-height: 24px;
    padding-bottom: 0;
}


/* Menu */

.container .row {
    margin-left: -20px;
}

.list_banners {
    padding-top: 20px;
    color: #fff;
}

.container .grid_4 {
    width: 300px;
}

.container [class*="grid_"] {
    float: left;
    min-height: 1px;
    margin-left: 20px;
}
.list_banners * {
    color: #fff;
}

.list_banners li .icon_holder {
    position: relative;
    display: inline-block;
    transition: 0.3s;
}



.list_banners * {
    color: #fff;
}

.icon_holder img {
    width: 60px;
    height: 60px;
    margin-top: 26px;
    display: inline-block;
 
}

.icon_holder:hover ~ .banner-cont,
.icon_holder:focus ~ .banner-cont {
  display: flex;
}

.banner-cont {
    padding-top: 30px;
    display: flex;
    align-items: center;
}





.icon_holder:before {
    content: "";
    position: absolute;
    top: 60%;
    right: 110%;
    width: 60px;
    height: 0.5px;
    background-color: rgb(255, 253, 253);
}

.icon_holder::after {
    content: "";
    position: absolute;
    top: 60%;
    left: 110%;
    width: 60px;
    height: 0.5px;
    background-color: rgb(255, 253, 253);
}

.banner-cont {
    display: none;
}

/* MOBILE STYLE  MENU*/

.stuck_container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 56px;
    background: #FFF;
    color: #000;
    -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
    z-index: 99999991;
}


/* Tablet media style */

@media (max-width: 1199px) {
    .brand_slogan {
        letter-spacing: 1px;
    }

        .brand_name {
        margin-top: 0;
        font-size: 90px;
        line-height: 90px;
        letter-spacing: 0;
        padding-top: 20px;
    }
}

@media (max-width: 979px) {
        .sf-menu > li > a {
        padding: 5px 15px;
    }

        h4 {
        font-size: 22px;
        line-height: 26px;
    }

    .container .grid_4 {
        width: 236px;
    }
}

@media (max-width: 767px) {
        header {
        padding-top: 40px;
        height: 150vh;
    }



    .brand_slogan {
        letter-spacing: 0;
    }

        .brand_name {
        font-size: 50px;
        line-height: 45px;
    }

    .container, .container-fluid {
    width: 100vw;}

        .container [class*="grid_"], .container-fluid [class*="grid_"] {
        float: none;
        display: flex;
        flex-direction: column;

        align-items: center;

        width: 100%;
        margin-left: 0;
        align-items: center;
        align-content: center
    }

        .stuck_container {
        display: flex;
    }

    .nav {
        display: none;
    }

    .banner-cont {
        display: flex;
        width: 50vw;
        margin-bottom: 40px;
    }
}

@media (max-width: 479px) {


    .container, .container-fluid {
        width: 300px;
        padding: 0 15px;
    }
}