.section3 {
    padding: 86px 0 50px;
    color: #737373;
    background-color: #242424;
}

.section3 h5 {
    color: #fff;
    letter-spacing: 2px;
}

.section3 .container, .container-fluid {
    width: 940px;
    display: flex;
    flex-direction: column;

}
.section3 .container, .container-fluid {
    margin-right: auto;
    margin-left: auto;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.section3 p.mod1 {
    color: #fff;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    text-transform: none;
    margin-top: 67px;
    line-height: 36px;
}

.section3 p.mod1 a {
    margin: 0 10px;
}






.section3 .container .grid_3 {
    width: 220px;
}

.section3 .container [class*="grid_"] {
    float: left;
    min-height: 1px;
    margin-left: 20px;
}

.section3 .grid_3 h5 {
    margin-top: 28px;
    margin-bottom: 28px;

}





/* MOBILE ADAPTIVE */

@media (max-width: 430px) {
    .section3 .row {
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .section3 .grid_3 {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;   
        margin: 0;
        margin-bottom: 20px;

    }

    .section3 .grid_list_3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;   
        margin: 0;
        margin-bottom: 20px;
    }
}