.section3 {
    padding: 86px 0 50px;
    color: #737373;
    background-color: #242424;
}

.section3 h5 {
    color: #fff;
    letter-spacing: 2px;
}

.section3 .container, .container-fluid {
    width: 940px;
    display: flex;
    flex-direction: column;

}
.section3 .container, .container-fluid {
    margin-right: auto;
    margin-left: auto;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.section3 p.mod1 {
    color: #fff;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    text-transform: none;
    margin-top: 67px;
    line-height: 36px;
}

.section3 p.mod1 a {
    margin: 0 10px;
}






.section3 .container .grid_3 {
    width: 220px;
}

.section3 .container [class*="grid_"] {
    float: left;
    min-height: 1px;
    margin-left: 20px;
}

.section3 .grid_3 h5 {
    margin-top: 20px;

}





/* MOBILE ADAPTIVE */

@media (max-width: 430px) {
    .programs_overview .grid_6 {
        width: 80vw;
    }

    .programs_overview .cntr {
        width: 80vw;
        font-size: 30px;

    }
}