
.contact-map {
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
}


.about__title span {
    font-family: "Gardens";
    font-weight: 400;
    font-size: 30px;
    line-height: 2em;
    color: #000;
    text-transform: uppercase;
}

.about__point span {
    font-weight: bold;
}

.about__item .about__point {
    text-indent: 0px;
    font-size: 25px;
    line-height: 50px;
    margin-top: 40px;
}

.about__text p {
    text-align: justify;
    text-indent: 50px;
    
}

.about__item p {
    font-family: "Gardens";
    font-weight: 400;
    font-size: 20px;
    line-height: 2em;
    color: #000;
}

.responsive-map {
  width: 100%;
  height: 450px;
  border: 0;
}


/* Мобільні пристрої */
@media (max-width: 768px) {
  .responsive-map {
    height: 300px;
  }
}

/* Дуже малі екрани */
@media (max-width: 480px) {
  .responsive-map {
    height: 250px;
  }
}

