

.services {
    padding-top: 50px;
    padding-bottom: 71px;
}

.services h6, .privacy dt {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    text-transform: uppercase;
    font-family: Roboto, sans-serif;
    color: #242424;
}


.services p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    color: rgb(194, 194, 194);
    font-family: Roboto, sans-serif;
    font-size: 14px;
}

.services .container {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.services h2 {
    margin-top: 44px;
    margin-bottom: 30px;
}

.services .row {
    display: flex;
    align-items: center;

}

.services .grid_7 {
    width: 50vw;
}

.services .marTop1 {
    width: 100%;
}

/* section3  */

.section3 .row{
    display: flex;
    align-items: center;
}

.section3 .grid_8 {
    width: 80vw;
}

.section3 .container  .grid_4 {
    margin-left: 60px;
    display: flex;
    /* justify-content: center;
    align-items: center; */
}

.section3 h2, .services h3 {
    color: #fff;
    line-height: 52px;
    font-weight: 300;
    font-family: "Roboto", sans-serif;
    font-size: 48px;
}

.section3 h2 span {
    font-size: 18px;
    font-weight: 300;
    line-height: 18px;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 16px;
}

.section3 .btn {
    display: inline-block;
    font-size: 20px;
    line-height: 26px;
    color: #242424;
    background-color: #fff;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    padding: 6px 25px 8px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
}

.btn:hover {
    color: #fff;
    background: #242424;
}

/* Well8 */

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.well8 .container {
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #fff;
}


.parallax_section .index-list2 {
  counter-reset: li-counter; /* Ініціалізуємо лічильник */
  list-style: none; /* Прибираємо маркери */
  padding-left: 0 !important;
}

.parallax_section .index-list2 li {
  position: relative;
  list-style: none;
  padding-left: 80px;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;
  counter-increment: li-counter; /* Збільшуємо лічильник тут */
}

.parallax_section .index-list2 li::before {
  content: counter(li-counter, decimal-leading-zero);
  font-size: 36px;
  font-weight: 500;
  position: absolute;
  top: 5px;
  left: 0;
  width: 68px;
  height: 68px;
  line-height: 68px;
  background: #fff;
  color: #242424;
  text-align: center;
}

.parallax_section h2,
.parallax_section h3,
.parallax_section h4,
.parallax_section h5,
.parallax_section h6,
.parallax_section p {
  color: #fff;
}

.parallax_section .index-list2 li.grid_4:nth-child(n + 4) {
  margin-top: 40px;
}










